<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	<div class="corpo" layout:fragment="corpo">
		<main role="main">
		<section class="jumbotron text-center pt-3 pb-3">
			<div class="container">
				<h1 class="jumbotron-heading">Promo Spring - Ofertas mais recentes</h1>
				<p class="lead text-muted">Aproveite a lista de ofertas e pague	menos por seus desejos.</p>

				<form id="form-autocomplete">
					<div class="form-row">
						<div class="form-group col-md-10">
							<input id="autocomplete-input" name="site" type="text" class="form-control" placeholder="Ex.: udemy">
						</div>
						<div class="form-group col-md-2">
							<button id="autocomplete-submit" type="button" class="btn btn-primary">Confirmar</button>
						</div>
					</div>
				</form>

			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="form-group">
					<button id="btn-alert"
						    class="btn btn-warning btn-lg btn-block hidden"	style="display: none;"></button>
				</div>

				<div class="row" th:insert="promo-card">

				</div>

				<div id="loading">
					<div id="loader-img" class="mx-auto loader"></div>
					<a id="fim-btn" type='button' href='#' class='btn btn-info mx-auto'>Fim! Voltar ao topo</a>
				</div>
			</div>
		</div>
		</main>
	</div>

	<script></script>
</body>
</html>